<section class="list_of_importance">
  <div class= "">
  <h2 class= "">A List of Importance</h2>
    <h3><%= list.title %></h3>
    <h4><%= list.description %></h4>
    <ul>
      <% list.items.each do |l| %>
        <li><%= l.description %></li>
      <% end %>  
    </ul>
  </div>
</section>  