<section class="charlie">
        <%= render partial: "charlie_carousel", locals: {charlie: @charlie} %>
      </div>
    </div> 
    <div class"row"> 
      <div class="col-md-6 col-sm-offset-2">
        <h2>Charlie</h2>
        <h4>Many cats are named "Charlie" and many cats look like my Charlie. So here's a page for Charlie.</h4>
      </div> 
    </div> 
</section>