<section class="charlie">
        <%= render partial: "charlie_carousel", locals: {charlie: @charlie} %>
      </div>
    </div> 
    <div class"row"> 
      <div class="col-md-6 col-sm-offset-2">
        <h2>Why do these cats look alike?</h2>
        <h4>...because they are named "Charlie".</h4>
      </div> 
    </div> 
</section>