<section class="charlie">
  <div class"row">
    <% @charlie.each do |c| %>
      <div class="col-sm-2 col-sm-offset-4">
        <%= image_tag(c.image_url) %>
        <p><%= c.description %></p>
      </div>
      <% end %>
    </div>  
    <div class"row"> 
      <div class="col-md-6 col-sm-offset-2">
        <h2>Charlie</h2>
        <h4>Many cats are named "Charlie" and many cats look like my Charlie. So here's a page for Charlie.</h4>
      </div> 
    </div> 
</section>