// Place all the styles related to the Charlies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.charlie{
  padding-top: 3%;
  padding-bottom: 5%;
  img{
    height: 6.0em;
    width: auto;
  }
}

.new_charlie_form{
  background-color: white;
  height: 200px;
  padding-bottom: 300px;
}
