.home{
  background: url("http://www.drinkingwithmycat.com/images/intensecharlie.JPG") no-repeat top center fixed;
  background-size: cover;
  h1{
    position: fixed;
    color: white;
    margin-top: 8%;
    margin-left: 5%;
    }
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: auto;
      height: 300px;
      min-height: 300px;
      margin: auto;
  }

@media screen and (max-width:2080px) {
    .home{
      height: 60.0em;
  }  
}

@media screen and (max-width:680px) {
    .home{
      background-size: contain;
      height: 60.0em;
  }  
}

.first_position{
    position: fixed;
    color: white;
    margin-top: 8%;
    margin-left: 5%;
}



