// Place all the styles related to the ListOfImportances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list_of_importance{
  text-align: center;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

section.list_of_importance {
  background: 
  linear-gradient( 135deg, transparent 0%, transparent 45%, rgba(255,255,255,.4) 1%, #AA4839 1%, rgba(255,255,255,.4) 55% ) 0px 0px,
linear-gradient( 45deg, transparent 0%, transparent 45%, rgba(255,255,255,.4) .05%, #9BC362 .05%, transparent 55% ) 0px 0px,
linear-gradient( 90deg, gray,#022A35,black) 0px 0px;
  background-size: 15px 15px,15px 15px, 100% 100%;
}


.list_of_importance div{
  background-color: white;
  border: 5px double black;
  display: inline-block;
  padding: 3%;
  ul{
    text-align: left;
  }
}