<section class="row footer">
  <h4 class="col-md-10 col-md-offset-2"> Charlie is my cat and sometimes we drink together. Sometimes, we don't. This is a life of a cat and his human (and a few drinks). </h4>
</section>