<ul class="topnav">
  <li><a href="#"></a></li>
  <li><a href="#">Charlie</a></li>
  <li><a href="#drinking">Drinking</a></li>
  <li><a href="#non-drinking">Non-Drinking</a></li>
  <li><a href="#coding">Coding</a></li>
  <li><a href="#list_of_importance">Lists of Importance</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

    